<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Techno</title>
</head>
<body>
  <div id="app">

    <header class="header">
      <img src="./assets/img/Novo Projeto.svg" alt="Logo" class="logo">
      <div class="carrinho_menu" @click="carrinhoAtivo = true">
        {{carrinhoTotal | numeroPareco}} | {{carrinho.length}} <img src="assets/img/carrinho.svg" alt=""> 
      </div>
    </header>

    <section class="produtos">
      <div class="produto" 
        v-for="item in produtos" 
        :key="item.id"
        @click="abrirModal(item.id)"
      >
        <img :src="item.img" :alt="produto.nome" class="produto_img">
        <div class="produto_info">
          <span class="produto_preco">{{item.preco | numeroPareco}}</span>
          <h2 class="produto_titulo">{{item.nome}}</h2>
        </div>
      </div>
    </section>

    <section class="modal" v-if="produto" @click="fecharModal">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="produto.img" :alt="produto.nome">
        </div>

        <div class="modal_dados">
          <button class="modal_fechar" @click="produto=false">X</button>
          <span class="modal_preco"> {{produto.preco | numeroPareco}} </span>
          <h2 class="modal_titulo"> {{produto.nome}} </h2>
          <p>{{produto.descricao}}</p>
          <button class="modal_btn" 
            @click="adcionarItem"
            v-if="produto.estoque"
          >Adcionar Ítem</button>
          <button class="modal_btn esgotado" v-else disabled>Produto Esgotado</button>
        </div>

        <div class="avaliacoes">
          <h2 class="avaliacoes_subtitulo">Avaliações</h2>
          <ul>
            <li v-for="avaliacao in produto.avaliacoes" class="avaliacao"> 
              <p class="avaliacao_descricao"> {{avaliacao.descricao}} </p>
              <p class="avaliacao_usuario"> {{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="carrinho_modal" :class="{ativo : carrinhoAtivo}" @click="clickForaCarrinho">
      <div class="carrinho_container">
        <button @click="carrinhoAtivo = false" class="carrinho_fechar">X</button>
        <h2 class="carrinho_titulo">Carrinho</h2>
        <div v-if="carrinho.length > 0">
          <ul class="carrinho_lista">
            <li v-for="(item, index) in carrinho" ::key="item.id" class="carrinho_item">
              <p> {{item.nome}} </p>
              <p class="carrinho_preco"> {{item.preco | numeroPareco}} </p>
              <button class="carrinho_remover" @click="removerItem(index)">X</button>
            </li>
          </ul>
          <p class="carrinho_total"> {{carrinhoTotal | numeroPareco}}</p>
          <button class="carrinho_finalizar">Finalizar Compra</button>
        </div>
        <p v-else>O carrinho está vazio</p>
      </div>
    </div>

    <div class="alerta" :class="{ ativo : alertaAtivo}">
      <p class="alerta-msg"> {{mensagemAlerta}} </p>
    </div>
  </div>
  <script src="assets/js/app.js"></script>
</body>
</html>